<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>客户信用管理系统</h1>
<form method="post" action="/signin/">
    <h2>用户注册</h2>
    用户名： <input name="username" type="text" value=""><br/>
    密码： <input name="password" type="password" value=""><br/>
    <input name="is_superuser" type="checkbox" value="">是否为超级用户<br/>
    <input name="is_staff" type="checkbox" value=""> 是否为操作员 <br/>
    <button name="signin"type="submit">注册</button>
    <button name="login" class="submit" onclick="window.location.href(/login/)">注册</button><br/>
</form>

</body>
</html>